{% extends "teacher_base.html" %}
{% block title %}Schedule Dashboard{% endblock title %}
{% block teachercontent %}
<div class="container my-3 text-end">
    <a class="px-4 py-2 bg-black rounded-lg text-white hover:bg-gray-400 hover:text-black space-x-2 radius-2" href="{{url_for('teacher.add_schedule')}}">Add Schedule</a>
</div>
    <div class="overflow-x-auto my-8">
        <table class="md:min-w-full w-full table-fixed md:table-fixed bg-white border border-gray-200 rounded-lg shadow-lg">
            <!-- Table Head -->
            <thead>
                <tr class="bg-gray-200 text-gray-700 text-left uppercase text-sm">
                    <th class="px-6 py-3 border-b">#</th>
                    <th class="px-6 py-3 border-b">Day</th>
                    <th class="px-6 py-3 border-b">Department</th>
                    <th class="px-6 py-3 border-b">Semester</th>
                    <th class="px-6 py-3 border-b">Staff Name</th>
                    <th class="px-6 py-3 border-b">Actions</th>
                </tr>
            </thead>
            <tbody>
                 {% for schedule in schedule %}
                <tr class="hover:bg-gray-100 text-sm">
                    <td class=" px-6 py-2 border-b text-gray-700">{{schedule.id}}</td>
                    <td class="truncate px-6 py-2 border-b text-gray-700">{{schedule.day}}</td>
                    <td class="truncate px-6 py-2 border-b text-gray-700">{{schedule.department.dept_name}}</td>
                    <td class=" px-6 py-2 border-b text-sm text-gray-700">{{schedule.semester.name}}</td>
                    <td class="truncate px-6 py-2 border-b text-gray-700">{{schedule.staff.name}}</td>
                    <td class="px-6 py-2 flex flex-col items-center space-y-1 md:flex-row border-b text-gray-700">
                        <a href="{{url_for('teacher.show_schedule',id=schedule.id)}}" class="bg-blue-500 text-white px-3 py-1 rounded-md hover:bg-blue-600">Show</a>
                    </td>
                </tr>
                {% endfor %}
                
            </tbody>
        </table>
    </div>
{% endblock teachercontent %}