{% extends "student_dashboard.html" %}
{% block title %}Student Profile{% endblock title %}
{% block studentcontent %}
  <div class="max-w-4xl mx-auto p-2 bg-white rounded-lg ">
    <h1 class="text-2xl font-bold text-gray-800 mb-6">Student Profile</h1>
    <!-- Profile Section -->
    <div class="overflow-x-auto">
      <table class="min-w-full table-auto border-collapse border border-gray-200">
        <tbody>
          <!-- Name Row -->
          <tr class="bg-gray-50 border-b border-gray-200">
            <th class="text-left px-6 py-3 text-gray-600 font-medium">Name</th>
            <td class="px-6 py-3 text-gray-800">{{g.student.first_name}} {{g.student.last_name}} </td>
          </tr>
          <!-- Age Row -->
          <tr class="bg-white border-b border-gray-200">
            <th class="text-left px-6 py-3 text-gray-600 font-medium">DOB</th>
            <td class="px-6 py-3 text-gray-800">{{g.student.date_of_birth}}</td>
          </tr>
          <!-- Gender Row -->
          <tr class="bg-gray-50 border-b border-gray-200">
            <th class="text-left px-6 py-3 text-gray-600 font-medium">Gender</th>
            <td class="px-6 py-3 text-gray-800">{{g.student.gender}}</td>
          </tr>
          <!-- Student ID Row -->
          <tr class="bg-white border-b border-gray-200">
            <th class="text-left px-6 py-3 text-gray-600 font-medium">MAKAUT ID</th>
            <td class="px-6 py-3 text-gray-800">{{g.student.makaut_roll_no}}</td>
          </tr>
          <!-- Email Row -->
          <tr class="bg-gray-50 border-b border-gray-200">
            <th class="text-left px-6 py-3 text-gray-600 font-medium">Email</th>
            <td class="px-6 py-3 text-gray-800">{{g.student.email}}</td>
          </tr>
          <!-- Phone Row -->
          <tr class="bg-white border-b border-gray-200">
            <th class="text-left px-6 py-3 text-gray-600 font-medium">Phone</th>
            <td class="px-6 py-3 text-gray-800">{{g.student.contact_number}}</td>
          </tr>
          <!-- Address Row -->
          <tr class="bg-gray-50 border-b border-gray-200">
            <th class="text-left px-6 py-3 text-gray-600 font-medium">Address</th>
            <td class="px-6 py-3 text-gray-800">{{g.student.permanent_address}}</td>
          </tr>
          <!-- Course Row -->
          <tr class="bg-white border-b border-gray-200">
            <th class="text-left px-6 py-3 text-gray-600 font-medium">Course</th>
            <td class="px-6 py-3 text-gray-800">{{g.student.department.dept_name}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

{% endblock studentcontent %}