<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static',filename="/css/output.css")}}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <title>{% block title %}{% endblock title %}</title>
        <style>
        .scrollbar-hide::-webkit-scrollbar {
            display: none;
        }
        .scrollbar-hide {
            -ms-overflow-style: none;
            scrollbar-width: none; 
        }
        </style>
</head>

<body class="bg-gray-100 font-sans leading-normal tracking-normal">

    {% block maincontent %}{% endblock maincontent %}
            {% with messages=get_flashed_messages(with_categories=True) %}
{% if messages %}
      {% for category,message in messages %}
        <div id="alertBox" class="fixed z-50 md:bottom-[1rem] md:right-[20rem] bottom-[1rem] left-[2rem] flex items-center justify-between bg-blue-500 text-white px-4 py-3 rounded-md shadow-md w-80 ">
        <div>
            <p class="text-sm">{{message}}</p>
        </div>
        <button id="closeButton" class="ml-4 text-white hover:bg-blue-700 rounded-full p-1">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </button>
    </div>
    {% endfor %}
{% endif %}
{% endwith %}
<script>
        const alertBox = document.getElementById('alertBox');
        const closeButton = document.getElementById('closeButton');

        closeButton.addEventListener('click', () => {
            alertBox.style.display = 'none';
        });
</script>

</body>

</html>