{% extends "dashboard.html" %}
{% block title %}Exam{% endblock title %}
{% block content %}
<div class="container my-3 text-end">
    <a class="px-4 py-2 bg-black rounded-lg text-white hover:bg-gray-400 hover:text-black space-x-2 radius-2" href="{{url_for('exam.add_exam')}}">Add Exam</a>
</div>
    <div class="overflow-x-auto my-8">
        <table class="md:min-w-full w-full table-fixed md:table-fixed bg-white border border-gray-200 rounded-lg shadow-lg">
            <!-- Table Head -->
            <thead>
                <tr class="bg-gray-200 text-gray-700 text-left uppercase text-sm">
                    <th class="px-6 py-3 border-b">#</th>
                    <th class="px-6 py-3 border-b">Exam Name</th>
                    <th class="px-6 py-3 border-b">Session</th>
                    <th class="px-6 py-3 border-b">Actions</th>
                </tr>
            </thead>
            <tbody>
                 {% for exam in exam %}
                <tr class="hover:bg-gray-100">
                    <td class=" px-6 py-2 border-b text-gray-700">{{exam.exam_id}}</td>
                    <td class="truncate px-6 py-2 border-b text-gray-700"><a class="text-blue-900" href="">{{exam.exam_name}}</a></td>
                    <td class=" px-6 py-2 border-b text-gray-700">{{exam.semester.session.name}}</td>
                    <td class="px-6 py-2 flex flex-col items-center space-y-1 md:flex-row border-b text-gray-700">
                        <a href="{{url_for('exam.show_exam',id=exam.exam_id)}}" class="bg-blue-500 text-white px-3 py-1 rounded-md hover:bg-blue-600">Show</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

<div class="flex justify-center items-center mt-8 space-x-4">
    <!-- Previous page link -->
    {% if exam.has_prev %}
        <a class="px-2 py-1 bg-gray-800 text-white rounded-lg border-2 border-gray-700 hover:bg-gray-700 hover:text-gray-200 transition-colors" 
           href="{{ url_for('exam.exam_dashboard', page=exam.prev_num) }}">
            Previous
        </a>
    {% else %}
        <span class="px-2 py-1 bg-gray-300 text-gray-500 rounded-lg border-2 border-gray-200 cursor-not-allowed">
            Previous
        </span>
    {% endif %}

    <!-- Page numbers -->
    <span class="text-lg font-semibold text-gray-700">
        Page {{ exam.page }} of {{ exam.pages }}
    </span>

    <!-- Next page link -->
    {% if exam.has_next %}
        <a class="px-2 py-1 bg-gray-800 text-white rounded-lg border-2 border-gray-700 hover:bg-gray-700 hover:text-gray-200 transition-colors" 
           href="{{ url_for('exam.exam_dashboard', page=exam.next_num) }}">
            Next
        </a>
    {% else %}
        <span class="px-2 py-1 bg-gray-300 text-gray-500 rounded-lg border-2 border-gray-200 cursor-not-allowed">
            Next
        </span>
    {% endif %}
</div>




    
{% endblock content %}