{% extends "dashboard.html" %}
{% block title %}Staff{% endblock title %}
{% block content %}
<div class="container my-3 text-end">
    <a class="px-4 py-2 bg-black rounded-lg text-white hover:bg-gray-400 hover:text-black space-x-2 radius-2" href="{{url_for('staff.add_staff')}}">Add User</a>
</div>

<div class="overflow-x-auto my-8">
    <div class="grid grid-cols-5 gap-4 bg-white border border-gray-200 rounded-lg shadow-lg p-6">
        <!-- Table Head -->
        <div class="font-semibold text-sm text-gray-700">#</div>
        <div class="font-semibold text-sm text-gray-700">Emp ID</div>
        <div class="font-semibold text-sm text-gray-700">Name</div>
        <div class="font-semibold text-sm text-gray-700">Type</div>
        <div class="font-semibold text-sm text-gray-700">Actions</div>

        <!-- Table Body -->
        {% for staff in staff %}
        <div class="text-gray-700">{{ staff.staff_id }}</div>
        <div class="text-blue-900">
            <a href="{{ url_for('staff.show_staff', id=staff.staff_id) }}">{{ staff.emp_id }}</a>
        </div>
        <div class="text-gray-700">{{ staff.name }}</div>
        <div class="text-gray-700">{{ staff.designation }}</div>
        <div class="flex space-x-2">
            <a href="{{ url_for('staff.show_staff', id=staff.staff_id) }}" class="bg-blue-500 text-white px-3 py-1 rounded-md hover:bg-blue-600">Show</a>
        </div>
        {% endfor %}
    </div>
</div>

<div class="flex justify-center items-center mt-8 space-x-4">
    <!-- Previous page link -->
    {% if staff.has_prev %}
        <a class="px-2 py-1 bg-gray-800 text-white rounded-lg border-2 border-gray-700 hover:bg-gray-700 hover:text-gray-200 transition-colors" 
           href="{{ url_for('staff.staff_dashboard', page=staff.prev_num) }}">
            Previous
        </a>
    {% else %}
        <span class="px-2 py-1 bg-gray-300 text-gray-500 rounded-lg border-2 border-gray-200 cursor-not-allowed">
            Previous
        </span>
    {% endif %}

    <!-- Page numbers -->
    <span class="text-lg font-semibold text-gray-700">
        Page {{ staff.page }} of {{ staff.pages }}
    </span>

    <!-- Next page link -->
    {% if staff.has_next %}
        <a class="px-2 py-1 bg-gray-800 text-white rounded-lg border-2 border-gray-700 hover:bg-gray-700 hover:text-gray-200 transition-colors" 
           href="{{ url_for('staff.staff_dashboard', page=staff.next_num) }}">
            Next
        </a>
    {% else %}
        <span class="px-2 py-1 bg-gray-300 text-gray-500 rounded-lg border-2 border-gray-200 cursor-not-allowed">
            Next
        </span>
    {% endif %}
</div>
{% endblock content %}
