{% extends "base.html" %}
{% block maincontent %}

<div class="bg-gradient-to-b from-gray-50 to-gray-100">
  <div class="bg-violet-500 sm:px-11 text-center">
    <header class="text-white text-sm p-2 flex justify-center sm:justify-end items-center">
      <div>
        <a class="bg-white hover:bg-gray-200 text-black rounded-md px-2 py-1 font-semibold space-x-1" href="{{url_for('studentIndex.index')}}"><i class="fa-solid fa-house"></i><span>Home</span></a>
        <button class="bg-yellow-500 hover:bg-yellow-600 text-white rounded-md px-2 py-1 font-semibold space-x-1" id="openModal"><i class="fa-solid fa-key"></i><span>Change Password</span></button>
        <a class="bg-red-500 hover:bg-red-600 text-white rounded-md px-2 py-1 font-semibold space-x-1" href="{{url_for('studentLogin.student_logout')}}"><i class="fa-solid fa-right-from-bracket"></i><span>Logout</span></a>
      </div>
    </header>
  </div>
<div id="modal" class="fixed z-50 hidden inset-0 bg-opacity-50 bg-black flex items-center justify-center">
  <div class="container bg-white rounded-lg w-96 p-6">
    <div class="title font-bold text-lg text-blue-600">Change Password</div>
    <div class="body">
      <form method="post">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
          <div>
                <label for="old_password" class="block text-sm font-medium text-gray-700">Old Password</label>
                <input type="password" id="old_password" name="old_password" required
                       class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500">
            </div>
          <div>
                <label for="new_password" class="block text-sm font-medium text-gray-700">New Password</label>
                <input type="password" id="new_password" name="new_password" required
                       class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500">
            </div>
          <div>
                <label for="confirm_password" class="block text-sm font-medium text-gray-700">Confirm Password</label>
                <input type="password" id="confirm_password" name="confirm_password" required
                       class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500">
            </div>
            <div class="mt-2">
              <button type="submit" class="bg-blue-500 px-4 py-2 rounded-lg text-white hover:bg-blue-800">Change Password</button>
              <button id="close" class="bg-red-500 px-4 py-2 rounded-lg text-white hover:bg-red-800">Close</button>
            </div>
            </form>
    </div>
  </div>
</div>

    <div class="bg-white rounded-lg space-y-6 px-11">
      {% block studentcontent %}{% endblock studentcontent %}
    </div>
</div>
<script>
  const openModal=document.getElementById('openModal')
  const modal=document.getElementById('modal')
  const close=document.getElementById('close')
  openModal.addEventListener('click',()=>{
    modal.classList.toggle('hidden');
  })
  close.addEventListener('click',()=>{
    modal.classList.add('hidden')
  })
</script>
{% endblock maincontent %}
